@import url("header.css");

:root {
    --cor-de-fundo: #00f800;
    --branco:  rgb(184, 140, 214);
}

.cabeçalho {
    background-color: var(--branco);
    display: flex;
    justify-content: space-between;
}
.cabeçalho {
    background-color: var(--branco);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.container {
    display: flex;
    align-items: center;
}


